/* Загальні стилі для сторінки */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5; /* Легкий сірий фон для контрасту */
  color: #2c3e50; /* Темно-сірий для тексту */
}

h1,
h2 {
  color: #2c3e50; /* Темно-сірий для заголовків */
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  font-size: 1.6rem;
}

p,
ul {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

/* Логотип і навігація */
header {
  background-color: #34495e; /* Темно-синій фон */
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 160px; /* Трохи більше для покращеного вигляду */
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #f39c12; /* Золотистий для ховера */
}

/* Контейнер з політикою конфіденційності */
.privacy-policy {
  background-color: white;
  padding: 40px;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Округлені кути для м'якшого вигляду */
}

.privacy-container {
  max-width: 900px;
  margin: 0 auto;
}

.privacy-container h1 {
  font-size: 2.2rem; /* Трохи більше для кращої видимості */
  margin-bottom: 20px;
  color: #2c3e50;
}

.privacy-container ul {
  list-style: none;
  padding-left: 20px;
}

.privacy-container ul li {
  margin-bottom: 15px;
  color: #7f8c8d; /* Легкий сірий колір для пунктів */
}

/* Підвал */
footer {
  background-color: #34495e; /* Темно-синій фон */
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer .footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

footer .footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1rem;
}

footer .footer-links a:hover {
  color: #f39c12; /* Золотистий для ховера */
}
